.number-switching-task {
  height: calc(100vh - 60px); /* Adjust 60px to match your header height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-display {
  font-size: 72px;
  margin-bottom: 20px;
}

.instruction-text {
  font-size: 18px;
}

.task-complete {
  font-size: 3rem;
  text-align: center;
  padding-top: 40vh;
}
